<!--新規登録した場合はユーザーの詳細画面を表示する-->
<h1>
  <%= gravatar_for @user, size: 50 %>
  <%= @user.name %>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <!-- 0616 Lesson7 6.6 エラー表示追加 -->
      <%= render 'shared/error_messages', object: f.object %> 
      <%= f.label :name %>
      <br>
      <%= @user.name %>
      <br><br>
      <%= f.label :email %>
      <br>
      <%= @user.email %>
      <br><br>
      <%= f.label :country %>
      <br>
      <%= @user.country %>
      <br><br>
      <%= f.label :animal %>
      <br>
      <%= @user.animal %>
      <br>

      <%= link_to "Edit my Miffy account", edit_user_path(params[:id]) , class: "btn col-md-offset-4 btn-large btn-warning" %>
    <% end %>
  </div>
</div>